<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.order.mapper.PurchaseOrderMapper">

    <resultMap type="PurchaseOrder" id="PurchaseOrderResult">
        <result property="poId" column="po_id"/>
        <result property="poCode" column="po_code"/>
        <result property="status" column="status"/>
        <result property="purchaseDate" column="purchase_date"/>
        <result property="sId" column="s_id"/>
        <result property="purchasingDept" column="purchasing_dept"/>
        <result property="purchaserId" column="purchaser_id"/>
        <result property="remark" column="remark"/>
        <result property="reviewer" column="reviewer"/>
        <result property="reviewerDate" column="reviewer_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <resultMap id="PurchaseOrderPurchaseDetailsResult" type="PurchaseOrder" extends="PurchaseOrderResult">
        <collection property="purchaseDetailsList" notNullColumn="sub_pd_id" javaType="java.util.List"
                    resultMap="PurchaseDetailsResult"/>
    </resultMap>

    <resultMap type="PurchaseDetails" id="PurchaseDetailsResult">
        <result property="pdId" column="sub_pd_id"/>
        <result property="poId" column="sub_po_id"/>
        <result property="goodsId" column="sub_goods_id"/>
        <result property="specCode" column="sub_spec_code"/>
        <result property="unit" column="sub_unit"/>
        <result property="quantityInStock" column="sub_quantity_in_stock"/>
        <result property="purchaseQuantity" column="sub_purchase_quantity"/>
        <result property="puPrice" column="sub_pu_price"/>
        <result property="remark" column="sub_remark"/>
        <result property="createBy" column="sub_create_by"/>
        <result property="createTime" column="sub_create_time"/>
        <result property="updateBy" column="sub_update_by"/>
        <result property="updateTime" column="sub_update_time"/>
        <result property="isDelete" column="sub_is_delete"/>
        <association property="goods" javaType="com.lingyun.wh.goods.api.domain.Goods"/>
    </resultMap>

    <resultMap id="PurchaseOrderList" type="com.lingyun.wh.order.pojo.vo.PurchaseOrderVo">
        <result property="poId" column="po_id"/>
        <result property="poCode" column="po_code"/>
        <result property="status" column="po_status"/>
        <result property="purchaseDate" column="po_purchase_date"/>
        <result property="sId" column="s_id"/>
        <result property="purchaserId" column="purchaser_id"/>
        <result property="purNickName" column="pu_nick_name"/>
        <result property="purDeptId" column="pu_dept_id"/>
        <result property="purDeptName" column="pdt_dept_name"/>
        <result property="reviewer" column="reviewer"/>
        <result property="reviewComments" column="review_comments"/>
        <result property="reviewerUname" column="ru_nick_name"/>
        <result property="reviewerDate" column="reviewer_date"/>
        <result property="cuid" column="cu_user_id"/>
        <result property="cuname" column="cu_nick_name"/>
        <result property="cudeptId" column="cu_dept_id"/>
        <result property="cudeptName" column="cdt_dept_name"/>
        <result property="cudate" column="po_create_time"/>
        <result property="supplName" column="s_name"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="contactNumber" column="contact_number"/>
        <collection property="purchaseDetails" column="po_id" select="selectOrderDetailsList" ofType="com.lingyun.wh.order.pojo.vo.PurchaseDetailVo">

        </collection>
    </resultMap>
    <resultMap id="purchaseDetailsVO" type="com.lingyun.wh.order.pojo.vo.PurchaseDetailVo">
        <id property="pdId" column="pod_pd_id"/>
        <result property="goodsId" column="pod_goods_id"/>
        <result property="purchaseQuantity" column="pod_purchase_quantity"/>
        <result property="puPrice" column="pod_pu_price"/>
        <result property="goodsName" column="goodsName"/>
        <result property="quantityInStock" column="quantity_in_stock"/>
    </resultMap>
    <sql id="selectPurchaseOrderVo">
        select po_id,
               po_code,
               status,
               purchase_date,
               s_id,
               purchasing_dept,
               purchaser_id,
               remark,
               reviewer,
               reviewer_date,
               create_by,
               create_time,
               update_by,
               update_time,
               is_delete
        from wh_purchase_order
    </sql>

    <select id="selectPurchaseDetailsList" resultMap="PurchaseOrderList">
        SELECT
        po.po_id,po.po_code,po.status po_status,po.purchase_date po_purchase_date,po.s_id,po.purchaser_id,po.reviewer,po.review_comments,po.reviewer_date,po.create_by po_create_by,po.create_time po_create_time,po.update_by po_update_by,po.update_time po_update_time,
        pu.dept_id pu_dept_id,pu.nick_name pu_nick_name,
        pdt.dept_id pdt_dept_id,pdt.dept_name pdt_dept_name,
        cu.user_id cu_user_id,cu.dept_id cu_dept_id,cu.nick_name cu_nick_name,
        cdt.dept_id cdt_dept_id,cdt.dept_name cdt_dept_name,
        ru.user_id ru_user_id,ru.dept_id ru_dept_id,ru.nick_name ru_nick_name,
        s.s_name,s.contact_person,s.contact_number
        FROM wh_purchase_order po
        # 供应商
        INNER JOIN wh_supplier s on s.s_id = po.s_id
        # 进货人和进货部门
        INNER JOIN sys_user pu on pu.user_id = po.purchaser_id
        INNER JOIN sys_dept pdt on pdt.dept_id = po.purchasing_dept
        # 制单人和所在部门
        INNER JOIN sys_user cu on cu.user_id = po.create_by
        INNER JOIN sys_dept cdt on cdt.dept_id = cu.dept_id
        # 审核人
        LEFT JOIN sys_user ru on ru.user_id = po.reviewer
        <where>
            po.is_delete = 0
            <if test="params != null">
                <if test="params.purOrderSn != null and params.purOrderSn != ''">
                    and po.po_code like concat('%',#{params.purOrderSn},'%')
                </if>
                <if test="params.orderStatus != null and params.orderStatus != ''">
                    and po.status =  #{params.orderStatus}
                </if>
                <if test="params.supplierName != null and params.supplierName != ''">
                    and s.supplier_name like concat('%',#{params.supplierName},'%')
                </if>
                <if test="params.purchaser != null and params.purchaser != ''">
                    and pu.nick_name like concat('%',#{params.purchaser},'%')
                </if>
                <if test="params.purDept != null and params.purDept != ''">
                    and pdt.dept_name like concat('%',#{params.purDept},'%')
                </if>
                <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                    AND date_format(po.purchase_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                </if>
                <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                    AND date_format(po.purchase_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                </if>
            </if>
        </where>
    </select>
    <select id="selectOrderDetailsList" resultMap="purchaseDetailsVO">
        select
            g.g_name goodsName,
            pod.pd_id pod_pd_id,pod.goods_id pod_goods_id,pod.purchase_quantity pod_purchase_quantity,pod.pu_price pod_pu_price, pod.quantity_in_stock
        from wh_purchase_details pod
        INNER JOIN wh_goods g on g.g_id = pod.goods_id
        where pod.po_id = #{poId,jdbcType=BIGINT}
    </select>
    <!-- <select id="selectPurchaseDetailsList_COUNT" resultType="Long"> -->
    <!--     select count(0) from ( -->
    <!--     SELECT -->
    <!--     po.po_id, -->
    <!--     pu.dept_id pu_dept_id, -->
    <!--     pdt.dept_id pdt_dept_id, -->
    <!--     cu.user_id cu_user_id, -->
    <!--     cdt.dept_id cdt_dept_id, -->
    <!--     ru.user_id ru_user_id, -->
    <!--     s.s_name -->
    <!--     FROM wh_purchase_order po -->
    <!--     # 供应商 -->
    <!--     INNER JOIN wh_supplier s on s.s_id = po.s_id -->
    <!--     # 进货人和进货部门 -->
    <!--     INNER JOIN sys_user pu on pu.user_id = po.purchaser_id -->
    <!--     INNER JOIN sys_dept pdt on pdt.dept_id = pu.dept_id -->
    <!--     # 制单人和所在部门 -->
    <!--     INNER JOIN sys_user cu on cu.user_id = po.create_by -->
    <!--     INNER JOIN sys_dept cdt on cdt.dept_id = po.purchasing_dept -->
    <!--     # 供应商 -->
    <!--     INNER JOIN wh_supplier on s.s_id = po.s_id -->
    <!--     # 审核人 -->
    <!--     LEFT JOIN sys_user ru on ru.user_id = po.reviewer -->
    <!--     <where> -->
    <!--         po.is_delete = 0 -->
    <!--         <if test="params != null"> -->
    <!--             <if test="params.purOrderSn != null and params.purOrderSn != ''"> -->
    <!--                 and po.po_code like concat('%',#{params.purOrderSn},'%') -->
    <!--             </if> -->
    <!--             <if test="params.orderStatus != null and params.orderStatus != ''"> -->
    <!--                 and po.status =  #{params.orderStatus} -->
    <!--             </if> -->
    <!--             <if test="params.supplierName != null and params.supplierName != ''"> -->
    <!--                 and s.supplier_name like concat('%',#{params.supplierName},'%') -->
    <!--             </if> -->
    <!--             <if test="params.beginTime != null and params.beginTime != ''">&lt;!&ndash; 开始时间检索 &ndash;&gt; -->
    <!--                 AND date_format(po.purchase_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d') -->
    <!--             </if> -->
    <!--             <if test="params.endTime != null and params.endTime != ''">&lt;!&ndash; 结束时间检索 &ndash;&gt; -->
    <!--                 AND date_format(po.purchase_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d') -->
    <!--             </if> -->
    <!--         </if> -->
    <!--     </where> -->
    <!--     ) tmp_count -->
    <!-- </select> -->
    <select id="selectPurchaseOrderByPoId" parameterType="String" resultMap="PurchaseOrderPurchaseDetailsResult">
        select a.po_id,
               a.po_code,
               a.status,
               a.purchase_date,
               a.s_id,
               a.purchasing_dept,
               a.purchaser_id,
               a.remark,
               a.reviewer,
               a.reviewer_date,
               a.create_by,
               a.create_time,
               a.update_by,
               a.update_time,
               a.is_delete,
               b.pd_id             as sub_pd_id,
               b.po_id             as sub_po_id,
               b.goods_id          as sub_goods_id,
               b.spec_code         as sub_spec_code,
               b.unit              as sub_unit,
               b.quantity_in_stock as sub_quantity_in_stock,
               b.purchase_quantity as sub_purchase_quantity,
               b.pu_price          as sub_pu_price,
               b.remark            as sub_remark,
               b.create_by         as sub_create_by,
               b.create_time       as sub_create_time,
               b.update_by         as sub_update_by,
               b.update_time       as sub_update_time,
               b.is_delete         as sub_is_delete
        from wh_purchase_order a
                 left join wh_purchase_details b on b.po_id = a.po_id
        where a.po_id = #{poId} and a.is_delete = b'0'
    </select>

    <insert id="insertPurchaseOrder" parameterType="PurchaseOrder" useGeneratedKeys="true" keyProperty="poId">
        insert into wh_purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="poCode != null and poCode != ''">po_code,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="purchaseDate != null">purchase_date,</if>
            <if test="sId != null and sId != ''">s_id,</if>
            <if test="purchasingDept != null and purchasingDept != ''">purchasing_dept,</if>
            <if test="purchaserId != null and purchaserId != ''">purchaser_id,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            is_delete
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="poCode != null and poCode != ''">#{poCode},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="purchaseDate != null">#{purchaseDate},</if>
            <if test="sId != null and sId != ''">#{sId},</if>
            <if test="purchasingDept != null and purchasingDept != ''">#{purchasingDept},</if>
            <if test="purchaserId != null and purchaserId != ''">#{purchaserId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="remark == null">'',</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            b'0'
        </trim>
    </insert>

    <update id="updatePurchaseOrder" parameterType="PurchaseOrder">
        update wh_purchase_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="poCode != null and poCode != ''">po_code = #{poCode},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="purchaseDate != null">purchase_date = #{purchaseDate},</if>
            <if test="sId != null and sId != ''">s_id = #{sId},</if>
            <if test="purchaserId != null and purchaserId != ''">purchaser_id = #{purchaserId},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="reviewer != null and reviewer != ''">reviewer = #{reviewer},</if>
            <if test="reviewerDate != null">reviewer_date = #{reviewerDate},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
        </trim>
        where po_id = #{poId}
    </update>

    <delete id="deletePurchaseOrderByPoId" parameterType="String">
        delete
        from wh_purchase_order
        where po_id = #{poId}
    </delete>

    <update id="deletePurchaseOrderByPoIds" parameterType="String">
        update wh_purchase_order set is_delete = b'1' where po_id in
        <foreach item="poId" collection="array" open="(" separator="," close=")">
            #{poId}
        </foreach>
    </update>

    <delete id="deletePurchaseDetailsByPoIds" parameterType="String">
        update wh_purchase_details set is_delete = b'1' where po_id in
        <foreach item="poId" collection="array" open="(" separator="," close=")">
            #{poId}
        </foreach>
    </delete>

    <delete id="deletePurchaseDetailsByPoId">
        update wh_purchase_details set is_delete = b'1'
                                   where po_id = #{poId}
    </delete>

    <insert id="batchPurchaseDetails">
        insert into wh_purchase_details( pd_id, po_id, goods_id, spec_code, unit, purchase_quantity, pu_price, remark,
        create_by, create_time, update_by, update_time, is_delete) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.pdId}, #{item.poId}, #{item.goodsId}, #{item.specCode}, #{item.unit}, #{item.purchaseQuantity},
            #{item.puPrice}, #{item.remark}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime},
            b'0')
        </foreach>
    </insert>
</mapper>