<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.order.mapper.PurchaseDetailsMapper">

    <resultMap type="PurchaseDetails" id="PurchaseDetailsResult">
        <result property="pdId" column="pd_id"/>
        <result property="poId" column="po_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="specCode" column="spec_code"/>
        <result property="unit" column="unit"/>
        <result property="purchaseQuantity" column="purchase_quantity"/>
        <result property="puPrice" column="pu_price"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="selectPurchaseDetailsVo">
        select pd_id,
               po_id,
               goods_id,
               spec_code,
               unit,
               purchase_quantity,
               pu_price,
               remark,
               create_by,
               create_time,
               update_by,
               update_time,
               is_delete
        from wh_purchase_details
    </sql>

    <select id="selectPurchaseDetailsList" parameterType="PurchaseDetails" resultMap="PurchaseDetailsResult">
        <include refid="selectPurchaseDetailsVo"/>
        <where>
            <if test="poId != null  and poId != ''">and po_id = #{poId}</if>
            <if test="goodsId != null  and goodsId != ''">and goods_id = #{goodsId}</if>
            <if test="specCode != null  and specCode != ''">and spec_code = #{specCode}</if>
            <if test="unit != null  and unit != ''">and unit = #{unit}</if>
            <if test="purchaseQuantity != null ">and purchase_quantity = #{purchaseQuantity}</if>
            <if test="puPrice != null ">and pu_price = #{puPrice}</if>
            <if test="isDelete != null  and isDelete != ''">and is_delete = #{isDelete}</if>
        </where>
    </select>

    <select id="selectPurchaseDetailsByPdId" parameterType="String" resultMap="PurchaseDetailsResult">
        <include refid="selectPurchaseDetailsVo"/>
        where pd_id = #{pdId}
    </select>

    <insert id="insertPurchaseDetails" parameterType="PurchaseDetails" useGeneratedKeys="true" keyProperty="pdId">
        insert into wh_purchase_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="poId != null and poId != ''">po_id,</if>
            <if test="goodsId != null and goodsId != ''">goods_id,</if>
            <if test="specCode != null and specCode != ''">spec_code,</if>
            <if test="unit != null and unit != ''">unit,</if>
            <if test="purchaseQuantity != null">purchase_quantity,</if>
            <if test="puPrice != null">pu_price,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="poId != null and poId != ''">#{poId},</if>
            <if test="goodsId != null and goodsId != ''">#{goodsId},</if>
            <if test="specCode != null and specCode != ''">#{specCode},</if>
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity},</if>
            <if test="puPrice != null">#{puPrice},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updatePurchaseDetails" parameterType="PurchaseDetails">
        update wh_purchase_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="poId != null and poId != ''">po_id = #{poId},</if>
            <if test="goodsId != null and goodsId != ''">goods_id = #{goodsId},</if>
            <if test="specCode != null and specCode != ''">spec_code = #{specCode},</if>
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="purchaseQuantity != null">purchase_quantity = #{purchaseQuantity},</if>
            <if test="puPrice != null">pu_price = #{puPrice},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
        </trim>
        where pd_id = #{pdId}
    </update>

    <delete id="deletePurchaseDetailsByPdId" parameterType="String">
        delete
        from wh_purchase_details
        where pd_id = #{pdId}
    </delete>

    <delete id="deletePurchaseDetailsByPdIds" parameterType="String">
        delete from wh_purchase_details where pd_id in
        <foreach item="pdId" collection="array" open="(" separator="," close=")">
            #{pdId}
        </foreach>
    </delete>
</mapper>