<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.goods.mapper.GoodsMapper">

   <resultMap type="com.lingyun.wh.goods.api.domain.Goods" id="GoodsResult">
       <result property="gId"    column="g_id"    />
       <result property="gCode"    column="g_code"    />
       <result property="gName"    column="g_name"    />
       <result property="gtId"    column="gt_id"    />
       <result property="sId"    column="s_id"    />
       <result property="sort"    column="sort"    />
       <result property="status"    column="status"    />
       <result property="specCode"    column="spec_code"    />
       <result property="remark"    column="remark"    />
       <result property="orPrice"    column="or_price"    />
       <result property="wrPrice"    column="wr_price"    />
       <result property="warningId"    column="warning_id"    />
       <result property="hasShelfLife"    column="has_shelf_life"    />
       <result property="shelfLife"    column="shelf_life"    />
       <result property="itemLimit"    column="item_limit"    />
       <result property="lowerLimit"    column="lower_limit"    />
       <result property="createBy"    column="create_by"    />
       <result property="createTime"    column="create_time"    />
       <result property="updateBy"    column="update_by"    />
       <result property="updateTime"    column="update_time"    />
       <result property="isDelete"    column="is_delete"    />
       <result property="wDays" column="w_days"/>

   </resultMap>
   <!-- Tang -->
   <resultMap id="goodsStocksMap" type="com.lingyun.wh.goods.api.domain.Goods" extends="GoodsResult" autoMapping="true">
       <association property="goodsType" javaType="com.lingyun.wh.goods.api.domain.GoodsType">
           <result property="gtId"    column="gt_id"    />
           <result property="gtCode"    column="gt_code"    />
           <result property="gtName"    column="gt_name"    />
           <result property="sort"    column="sort"    />
           <result property="status"    column="gtStatus"    />
           <result property="remark"    column="gtRemark"    />
           <result property="parentId"    column="parent_id"    />
       </association>
       <collection property="stockList" ofType="com.lingyun.wh.goods.api.domain.Stock" select="selectGoodsStocksByGid" column="gt_id"/>
   </resultMap>
    <resultMap id="stockMap" type="com.lingyun.wh.goods.api.domain.Stock">
        <result property="sid" column="stockId"/>
        <result property="wid" column="w_id"/>
        <result property="slid" column="sl_id"/>
        <result property="unit" column="unit"/>
        <result property="itemQuantity" column="item_quantity"/>
        <result property="numberPlans" column="number_plans"/>
        <result property="gid" column="stock_goodsId"/>
    </resultMap>

    <sql id="selectGoodsVo">
        select wg.g_id, wg.g_code, wg.g_name, wg.gt_id, wg.sort, wg.`status`,
               wg.spec_code, wg.remark, wg.or_price, wg.wr_price, wg.has_shelf_life,shelf_life,
               wg.item_limit, wg.lower_limit, wg.warning_id,  wg.is_delete,
               w_days,gt_name,s_name,(item_quantity*or_price) stocktotalmoney,su.user_name oneuser,
               wg.create_time,su2.user_name twouser,wg.update_time,wsk.unit,wsk.item_quantity, wsk.number_plans
               from wh_goods wg
                 left join wh_warning_info wwi
                            on wg.warning_id=wwi.ware_id
                 inner join wh_goods_type wgt
                            on wg.gt_id=wgt.gt_id
                 left join wh_supplier ws
                           on ws.s_id=wg.s_id
                 left join wh_stock wsk
                           on wsk.g_id=wg.g_id
                 left join sys_user su
                            on wg.create_by=su.user_id
                 left join sys_user su2
                            on wg.update_by=su2.user_id
    </sql>


    <select id="selectGoodsList"  resultType="map">
        <include refid="selectGoodsVo"/>
        <where>
            <if test="g_name != null  and g_name != ''"> and wg.g_name like concat('%', #{g_name}, '%')</if>
            <if test="status != null "> and wg.status = #{status}</if>
            <if test="gt_id != null "> and wg.gt_id = #{gt_id}</if>
            <if test="gtId != null  and gtId != ''"> and wg.gt_id = #{gtId}</if>
            <if test="unit != null  and unit != ''"> and wsk.unit = #{unit}</if>
            and wg.is_delete = 0
        </where>
        order by  wg.create_time desc
    </select>

   <select id="selectGoodsByGId" parameterType="String" resultMap="GoodsResult">
       select *,w_days FROM wh_goods wg
          left join wh_warning_info wwi
           on wg.warning_id=wwi.ware_id
       where g_id = #{gId} and is_delete = 0
   </select>

    <!-- 用于查询货品库存信息 tang 【主要用于入库相关系，不能用于出库】-->
    <select id="selectGoodsByIds" resultMap="goodsStocksMap">
        SELECT g.g_id, g.g_code, g.g_name, g.status, g.spec_code, g.remark, g.or_price, g.wr_price, g.warning_id,
        g.has_shelf_life, g.shelf_life, g.item_limit, g.lower_limit, g.create_by, g.create_time, g.update_by,
        g.update_time,
        gt.gt_id, gt.gt_code, gt.gt_name, gt.status gtStatus, gt.remark gtRemark, gt.parent_id
        FROM wh_goods g
        INNER JOIN wh_goods_type gt on gt.gt_id = g.gt_id
        <where>g.`status` = 0
        <if test="ids != null and ids.length > 0">
            <foreach collection="ids" item="gId" open="and g.g_id in (" separator="," close=")">
                #{gId}
            </foreach>
        </if>
        </where>
    </select>

    <select id="selectGoodsStocksByGid" resultMap="stockMap">
        select stock.s_id stockId, stock.w_id, stock.sl_id, stock.unit, stock.g_id stock_goodsId, stock.item_quantity, stock.number_plans
        from wh_stock stock
        where g_id = #{gt_id}
    </select>

    <select id="selectGoodsByGname" parameterType="String" resultType="integer">
        select count(*) from wh_goods where g_name=#{gname}
    </select>


<!--    新增货品信息-->
    <insert id="insertGoods" parameterType="com.lingyun.wh.goods.api.domain.Goods" useGeneratedKeys="true" keyProperty="gId">
        insert into wh_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gCode != null and gCode != ''">g_code,</if>
            <if test="gName != null and gName != ''">g_name,</if>
            <if test="gtId != null">gt_id,</if>
            <if test="sId != null">s_id,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="specCode != null and specCode != ''">spec_code,</if>
            <if test="remark != null">remark,</if>
            <if test="orPrice != null">or_price,</if>
            <if test="wrPrice != null">wr_price,</if>
            <if test="warningId != null">warning_id,</if>
            <if test="hasShelfLife != null">has_shelf_life,</if>
             shelf_life,
            item_limit,
            lower_limit,
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gCode != null and gCode != ''">#{gCode},</if>
            <if test="gName != null and gName != ''">#{gName},</if>
            <if test="gtId != null">#{gtId},</if>
            <if test="sId != null">#{sId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="specCode != null and specCode != ''">#{specCode},</if>
            <if test="remark != null">#{remark},</if>
            <if test="orPrice != null">#{orPrice},</if>
            <if test="wrPrice != null">#{wrPrice},</if>
            <if test="warningId != null">#{warningId},</if>
            <if test="hasShelfLife != null">#{hasShelfLife},</if>
            #{shelfLife},
            #{itemLimit},
            #{lowerLimit},
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null " >#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>


<!--    新增预警-->
    <insert id="insertWarning" parameterType="com.lingyun.wh.goods.api.domain.WarningInfo" useGeneratedKeys="true" keyProperty="wareId">
        insert into wh_warning_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="wDays != null and wDays != ''">w_days,</if>
        warning_notifier,
        warning_info,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="wDays != null and wDays != ''">#{wDays},</if>
            #{warningNotifier},
            #{warningInfo},
        </trim>
    </insert>


<!--    删除预警-->
    <delete id="deleteWarnId">
        delete from wh_warning_info where ware_id=#{warnId}
    </delete>


<!--    修改货品信息-->
    <update id="updateGoods" parameterType="com.lingyun.wh.goods.api.domain.Goods">
        update wh_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="gCode != null and gCode != ''">g_code = #{gCode},</if>
            <if test="gName != null and gName != ''">g_name = #{gName},</if>
            <if test="gtId != null">gt_id = #{gtId},</if>
            <if test="sId != null">s_id = #{sId},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="specCode != null and specCode != ''">spec_code = #{specCode},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="orPrice != null">or_price = #{orPrice},</if>
            <if test="wrPrice != null">wr_price = #{wrPrice},</if>
            warning_id = #{warningId},
            <if test="hasShelfLife != null">has_shelf_life = #{hasShelfLife},</if>
            shelf_life = #{shelfLife},
            <if test="itemLimit != null">item_limit = #{itemLimit},</if>
            <if test="lowerLimit != null">lower_limit = #{lowerLimit},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
        </trim>
        where g_id = #{gId}
    </update>


    <delete id="deleteGoodsByGIds" parameterType="String">
        update  wh_goods set is_delete=1 where g_id  in
        <foreach item="gId" collection="array" open="(" separator="," close=")">
            #{gId}
        </foreach>
    </delete>
</mapper>