<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.goods.mapper.GoodsTypeMapper">

    <resultMap type="com.lingyun.wh.goods.doman.GoodsType" id="GoodsTypeResult">
        <result property="gtId"    column="gt_id"    />
        <result property="gtCode"    column="gt_code"    />
        <result property="gtName"    column="gt_name"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="parentId"    column="parent_id"    />
        <result property="creater" column="creater"/>
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectGoodsTypeVo">
        select gt_id, gt_code, gt_name, sort, wgt.`status`, wgt.remark,
               parent_id, wgt.create_by, wgt.create_time, wgt.update_by,
               wgt.update_time, wgt.is_delete ,su.user_name creater
        from wh_goods_type  wgt
        left join sys_user su on wgt.create_by=su.user_id
    </sql>

    <select id="selectGoodsTypeList" parameterType="com.lingyun.wh.goods.doman.GoodsType" resultMap="GoodsTypeResult">
        <include refid="selectGoodsTypeVo"/>
        <where>
            <if test="gtCode != null  and gtCode != ''"> and wgt.gt_code = #{gtCode}</if>
            <if test="gtName != null  and gtName != ''"> and wgt.gt_name like concat('%', #{gtName}, '%')</if>
            <if test="status != null "> and wgt.status = #{status}</if>
            <if test="creater != null  and creater != ''"> and su.user_name like concat('%', #{creater}, '%')</if>
            <if test="createTimes != null and createTimes.size() > 0">
                and wgt.create_time BETWEEN #{createTimes[0]} AND #{createTimes[1]}
            </if>
            and wgt.is_delete = 0
        </where>
    </select>

    <select id="selectGoodsTypeByGtId" parameterType="String" resultMap="GoodsTypeResult">
        <include refid="selectGoodsTypeVo"/>
        where gt_id = #{gtId}
    </select>

<!--    <select id="selectGoodsTypes" resultType="map">-->
<!--        select wgt.gt_id, wgt.gt_name son,-->
<!--               wgt.parent_id, wgt2.gt_name father from wh_goods_type wgt-->
<!--                left join wh_goods_type wgt2 on  wgt.parent_id=wgt2.gt_id where wgt.is_delete=0-->
<!--    </select>-->

    <select id="selectGoodsTypes" resultMap="GoodsTypeResult">
        select gt_id,gt_code,gt_name,sort,status,parent_id
        from wh_goods_type
        where is_delete=0
    </select>


    <select id="selectGoodsTypeByGname" parameterType="String" resultType="integer">
        select count(*) from wh_goods_type where gt_name=#{gtname}
    </select>


    <insert id="insertGoodsType" parameterType="com.lingyun.wh.goods.doman.GoodsType" useGeneratedKeys="true" keyProperty="gtId">
        insert into wh_goods_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gtCode != null and gtCode != ''">gt_code,</if>
            <if test="gtName != null and gtName != ''">gt_name,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="parentId != null and parentId != ''">parent_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gtCode != null and gtCode != ''">#{gtCode},</if>
            <if test="gtName != null and gtName != ''">#{gtName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="parentId != null and parentId != ''">#{parentId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
        </trim>
    </insert>

    <update id="updateGoodsType" parameterType="com.lingyun.wh.goods.doman.GoodsType">
        update wh_goods_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="gtCode != null and gtCode != ''">gt_code = #{gtCode},</if>
            <if test="gtName != null and gtName != ''">gt_name = #{gtName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="parentId != null and parentId != ''">parent_id = #{parentId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
        </trim>
        where gt_id = #{gtId}
    </update>



    <select id="countByIsDelete" parameterType="String" resultType="int">
        select count(*) from wh_goods_type where  parent_id in
        <foreach item="id" collection="gtId" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="deleteGoodsTypeByGtIds" parameterType="String">
        update  wh_goods_type set is_delete=1 where gt_id  in
        <foreach item="gtId" collection="gtIds" open="(" separator="," close=")">
            #{gtId}
        </foreach>
    </update>

    <update id="deleteGoodsTypeByParentGtIds" parameterType="String">
        update  wh_goods_type set is_delete=1 where parent_id  in
        <foreach item="gtId" collection="gtIds" open="(" separator="," close=")">
            #{gtId}
        </foreach>
    </update>
</mapper>