<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.warehouse.mapper.InboundManagerMapper">

    <resultMap type="InboundManager" id="InboundManagerResult">
        <result property="inId" column="in_id"/>
        <result property="inCode" column="in_code"/>
        <result property="inType" column="in_type"/>
        <result property="wid" column="w_id"/>
        <result property="status" column="status"/>
        <result property="sid" column="s_id"/>
        <result property="relatedOrder" column="related_order"/>
        <result property="manager" column="w_manager"/>
        <result property="remark" column="remark"/>
        <result property="reviewer" column="reviewer"/>
        <result property="reviewerTime" column="reviewer_time"/>
        <result property="storageDate" column="storage_date"/>
        <result property="orderId" column="order_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="is_delete"/>
    </resultMap>

    <resultMap id="InboundManagerInventoryDetailsResult" type="InboundManager" extends="InboundManagerResult">
        <collection property="inventoryDetailsList" notNullColumn="sub_imd_id" javaType="java.util.List"
                    resultMap="InventoryDetailsResult"/>
    </resultMap>

    <resultMap type="InventoryDetails" id="InventoryDetailsResult">
        <result property="imdId" column="imd_id"/>
        <result property="inId" column="in_id"/>
        <result property="odId" column="od_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="unit" column="unit"/>
        <result property="slId" column="sl_id"/>
        <result property="thisQuantity" column="this_quantity"/>
        <result property="productionDate" column="production_date"/>
        <result property="batchNumber" column="batch_number"/>
        <result property="remark" column="imd_remark"/>
        <result property="createBy" column="imd_create_by"/>
        <result property="createTime" column="imd_create_time"/>
        <result property="updateBy" column="imd_update_by"/>
        <result property="updateTime" column="imd_update_time"/>
        <result property="isDelete" column="is_delete"/>
        <association property="goods" javaType="com.lingyun.wh.goods.api.domain.Goods">
            <id property="gId" column="g_id"/>
            <result property="gCode" column="g_code"/>
            <result property="gName" column="g_name"/>
            <result property="gtId" column="gt_id"/>
            <result property="sId" column="s_id"/>
            <result property="sort" column="sort"/>
            <result property="status" column="status"/>
            <result property="specCode" column="spec_code"/>
            <result property="remark" column="remark"/>
            <result property="orPrice" column="or_price"/>
            <result property="wrPrice" column="wr_price"/>
            <result property="warningId" column="warning_id"/>
            <result property="hasShelfLife" column="has_shelf_life"/>
            <result property="shelfLife" column="shelf_life"/>
            <result property="itemLimit" column="item_limit"/>
            <result property="lowerLimit" column="lower_limit"/>
        </association>
    </resultMap>
    <resultMap id="InboundResultVo" type="InboundManager" autoMapping="true">
        <id property="inId" column="in_id"/>
        <collection property="inventoryDetailsList" select="inventoryDetailsListVo" column="in_id">
        </collection>
    </resultMap>

    <sql id="selectInboundManagerVo">
        select in_id,
               in_code,
               in_type,
               w_id,
               status,
               s_id,
               related_order,
               w_manager,
               remark,
               reviewer,
               reviewer_time,
               storage_date,
               order_id,
               create_by,
               create_time,
               update_by,
               update_time,
               is_delete
        from wh_inbound_mag
    </sql>

    <select id="selectInboundManagerList" parameterType="InboundManager" resultMap="InboundResultVo">
        SELECT im.in_id,
               im.in_code       inCode,
               im.in_type       inType,
               im.w_id          wid,
               im.status,
               im.s_id          sid,
               im.related_order relatedOrder,
               im.w_manager     manager,
               im.remark,
               im.reviewer,
               im.reviewer_time reviewerTime,
               im.storage_date  storageDate,
               im.order_id      orderId,
               im.create_by     createBy,
               im.create_time   createTime,
               im.update_by     updateBy,
               im.update_time   updateTime,
               pu.nick_name     managerName,
               cu.nick_name     creatorName,
               cdt.dept_name    creatorDept,
               cdt.dept_id      creatorDeptId,
               ru.nick_name     reviewerName,
               wh.w_name whName
        FROM wh_inbound_mag im
                 # 经办人
                 INNER JOIN sys_user pu on pu.user_id = im.w_manager
            # 制单人和所在部门
                 INNER JOIN sys_user cu on cu.user_id = im.create_by
                 INNER JOIN sys_dept cdt on cdt.dept_id = cu.dept_id
            # 审核人
                 INNER JOIN sys_user ru on ru.user_id = im.reviewer
            # 仓库
                 INNER JOIN wh_warehouse wh on wh.w_id = im.w_id
        <where>
            <if test="inId != null and inId != ''">
                and im.in_id = #{inId}
            </if>
            <if test="inCode != null and inCode != ''">
                and im.in_code like concat('%', #{inCode}, '%')
            </if>
            <if test="inType != null and inType != ''">
                and im.in_type = #{inType}
            </if>
            <if test="status != null and status != ''">
                and im.status = #{status}
            </if>
            <if test="wid != null and wid != ''">
                im.w_id = #{wid}
            </if>
            and im.is_delete = b'0'
        </where>
    </select>

    <select id="inventoryDetailsListVo" resultMap="InventoryDetailsResult">
        SELECT g.g_id,
               g.g_code,
               g.g_name,
               g.spec_code,
               g.or_price,
               g.wr_price,
               g.warning_id,
               g.has_shelf_life,
               g.shelf_life,
               g.item_limit,
               g.lower_limit,
               imd.imd_id,
               imd.in_id,
               imd.od_id,
               imd.goods_id,
               imd.unit,
               imd.quantity_in_stock,
               imd.sl_id,
               imd.this_quantity,
               imd.production_date,
               imd.batch_number,
               imd.remark      imd_remark,
               imd.create_by   imd_create_by,
               imd.create_time imd_create_time,
               imd.update_by   imd_update_by,
               imd.update_time imd_update_time
        FROM wh_im_details imd
                 INNER JOIN wh_goods g on g.g_id = imd.goods_id
        where imd.in_id = #{in_id}
          and imd.is_delete = b'0'
    </select>

    <select id="selectInboundManagerByInId" parameterType="String" resultMap="InboundManagerInventoryDetailsResult">

    </select>

    <insert id="insertInboundManager" parameterType="InboundManager" useGeneratedKeys="true" keyProperty="inId">
        insert into wh_inbound_mag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inCode != null and inCode != ''">in_code,</if>
            <if test="inType != null and inType != ''">in_type,</if>
            <if test="wid != null and wid != ''">w_id,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="sid != null and sid != ''">s_id,</if>
            <if test="relatedOrder != null">related_order,</if>
            <if test="manager != null and manager != ''">w_manager,</if>
            <if test="remark != null">remark,</if>
            <if test="reviewer != null">reviewer,</if>
            <if test="reviewerTime != null">reviewer_time,</if>
            <if test="storageDate != null">storage_date,</if>
            <if test="orderId != null and orderId != ''">order_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null and deleted != ''">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inCode != null and inCode != ''">#{inCode},</if>
            <if test="inType != null and inType != ''">#{inType},</if>
            <if test="wid != null and wid != ''">#{wid},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="sid != null and sid != ''">#{sid},</if>
            <if test="relatedOrder != null">#{relatedOrder},</if>
            <if test="manager != null and manager != ''">#{manager},</if>
            <if test="remark != null">#{remark},</if>
            <if test="reviewer != null">#{reviewer},</if>
            <if test="reviewerTime != null">#{reviewerTime},</if>
            <if test="storageDate != null">#{storageDate},</if>
            <if test="orderId != null and orderId != ''">#{orderId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null and deleted != ''">#{deleted},</if>
        </trim>
    </insert>

    <update id="updateInboundManager" parameterType="InboundManager">
        update wh_inbound_mag
        <trim prefix="SET" suffixOverrides=",">
            <if test="inCode != null and inCode != ''">in_code = #{inCode},</if>
            <if test="inType != null and inType != ''">in_type = #{inType},</if>
            <if test="wid != null and wid != ''">w_id = #{wid},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="sid != null and sid != ''">s_id = #{sid},</if>
            <if test="relatedOrder != null">related_order = #{relatedOrder},</if>
            <if test="manager != null and manager != ''">w_manager = #{manager},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="reviewer != null">reviewer = #{reviewer},</if>
            <if test="reviewerTime != null">reviewer_time = #{reviewerTime},</if>
            <if test="storageDate != null">storage_date = #{storageDate},</if>
            <if test="orderId != null and orderId != ''">order_id = #{orderId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null and deleted != ''">is_delete = #{deleted},</if>
        </trim>
        where in_id = #{inId}
    </update>

    <delete id="deleteInboundManagerByInId" parameterType="String">
        delete
        from wh_inbound_mag
        where in_id = #{inId}
    </delete>

    <delete id="deleteInboundManagerByInIds" parameterType="String">
        delete from wh_inbound_mag where in_id in
        <foreach item="inId" collection="array" open="(" separator="," close=")">
            #{inId}
        </foreach>
    </delete>

    <delete id="deleteInventoryDetailsByInIds" parameterType="String">
        delete from wh_im_details where in_id in
        <foreach item="inId" collection="array" open="(" separator="," close=")">
            #{inId}
        </foreach>
    </delete>

    <delete id="deleteInventoryDetailsByInId" parameterType="String">
        delete
        from wh_im_details
        where in_id = #{inId}
    </delete>

    <insert id="batchInventoryDetails">
        insert into wh_im_details( imd_id, in_id, od_id, unit, quantity_in_stock, unstocked_quantity, sl_id,
        this_quantity, production_date, batch_number, remark, create_by, create_time, update_by, update_time, is_delete)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.imdId}, #{item.inId}, #{item.odId}, #{item.unit}, #{item.quantityInStock},
            #{item.unstockedQuantity}, #{item.slId}, #{item.thisQuantity}, #{item.productionDate}, #{item.batchNumber},
            #{item.remark}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime},
            #{item.isDelete})
        </foreach>
    </insert>
</mapper>