<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.warehouse.mapper.StorageLocationMapper">
    
    <resultMap type="StorageLocation" id="StorageLocationResult">
        <result property="slId"    column="sl_id"    />
        <result property="wId"    column="w_id"    />
        <result property="slCode"    column="sl_code"    />
        <result property="slName"    column="sl_name"    />
        <result property="locationCapacity"    column="location_capacity"    />
        <result property="positionManager"    column="position_manager"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <sql id="selectStorageLocationVo">
        select sl_id, w_id, sl_code, sl_name, location_capacity, position_manager, sort, status, remark, create_by, create_time, update_by, update_time, is_delete from wh_storage_location
    </sql>

    <select id="selectStorageLocationList" parameterType="StorageLocation" resultMap="StorageLocationResult">
        <include refid="selectStorageLocationVo"/>
        <where>  
            <if test="wId != null  and wId != ''"> and w_id = #{wId}</if>
            <if test="slCode != null  and slCode != ''"> and sl_code = #{slCode}</if>
            <if test="slName != null  and slName != ''"> and sl_name like concat('%', #{slName}, '%')</if>
            <if test="locationCapacity != null "> and location_capacity = #{locationCapacity}</if>
            <if test="positionManager != null  and positionManager != ''"> and position_manager = #{positionManager}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isDelete != null  and isDelete != ''"> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectStorageLocationBySlId" parameterType="String" resultMap="StorageLocationResult">
        <include refid="selectStorageLocationVo"/>
        where sl_id = #{slId}
    </select>
        
    <insert id="insertStorageLocation" parameterType="StorageLocation" useGeneratedKeys="true" keyProperty="slId">
        insert into wh_storage_location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wId != null and wId != ''">w_id,</if>
            <if test="slCode != null and slCode != ''">sl_code,</if>
            <if test="slName != null and slName != ''">sl_name,</if>
            <if test="locationCapacity != null">location_capacity,</if>
            <if test="positionManager != null and positionManager != ''">position_manager,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null and isDelete != ''">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="wId != null and wId != ''">#{wId},</if>
            <if test="slCode != null and slCode != ''">#{slCode},</if>
            <if test="slName != null and slName != ''">#{slName},</if>
            <if test="locationCapacity != null">#{locationCapacity},</if>
            <if test="positionManager != null and positionManager != ''">#{positionManager},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateStorageLocation" parameterType="StorageLocation">
        update wh_storage_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="wId != null and wId != ''">w_id = #{wId},</if>
            <if test="slCode != null and slCode != ''">sl_code = #{slCode},</if>
            <if test="slName != null and slName != ''">sl_name = #{slName},</if>
            <if test="locationCapacity != null">location_capacity = #{locationCapacity},</if>
            <if test="positionManager != null and positionManager != ''">position_manager = #{positionManager},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null and isDelete != ''">is_delete = #{isDelete},</if>
        </trim>
        where sl_id = #{slId}
    </update>

    <update id="changeLocationStatus">
        update wh_storage_location set status=#{status} where sl_id in
        <foreach item="slId" collection="sl_id" open="(" separator="," close=")">
            #{slId}
        </foreach>
    </update>



    <delete id="deleteStorageLocationBySlId" parameterType="String">
        delete from wh_storage_location where sl_id = #{slId}
    </delete>

    <delete id="deleteStorageLocationBySlIds" parameterType="String">
        delete from wh_storage_location where sl_id in 
        <foreach item="slId" collection="array" open="(" separator="," close=")">
            #{slId}
        </foreach>
    </delete>
</mapper>