<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.warehouse.mapper.TransferMapper">
    
    <resultMap type="Transfer" id="TransferResult">
        <result property="tId"    column="t_id"    />
        <result property="tdCode"    column="td_code"    />
        <result property="docStatus"    column="doc_status"    />
        <result property="tDate"    column="t_date"    />
        <result property="outWId"    column="out_w_id"    />
        <result property="inWId"    column="in_w_id"    />
        <result property="outStatus"    column="out_status"    />
        <result property="tType"    column="t_type"    />
        <result property="remark"    column="remark"    />
        <result property="inStatus"    column="in_status"    />
        <result property="tManager"    column="t_manager"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDelete"    column="is_delete"    />
    </resultMap>

    <resultMap id="TransferTransferDetailsResult" type="Transfer" extends="TransferResult">
        <collection property="transferDetailsList" notNullColumn="sub_td_id" javaType="java.util.List" resultMap="TransferDetailsResult" />
    </resultMap>

    <resultMap type="TransferDetails" id="TransferDetailsResult">
        <result property="tdId"    column="sub_td_id"    />
        <result property="tId"    column="sub_t_id"    />
        <result property="tdCode"    column="sub_td_code"    />
        <result property="goodsId"    column="sub_goods_id"    />
        <result property="specCode"    column="sub_spec_code"    />
        <result property="unit"    column="sub_unit"    />
        <result property="tQuantity"    column="sub_t_quantity"    />
        <result property="iuPrice"    column="sub_iu_price"    />
        <result property="tAmount"    column="sub_t_amount"    />
        <result property="remark"    column="sub_remark"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
        <result property="isDelete"    column="sub_is_delete"    />
    </resultMap>

    <sql id="selectTransferVo">
        select t_id, td_code, doc_status, t_date, out_w_id, in_w_id, out_status, t_type, remark, in_status, t_manager, create_by, create_time, update_by, update_time, is_delete from wh_transfer
    </sql>

    <select id="selectTransferList" parameterType="Transfer" resultMap="TransferResult">
        <include refid="selectTransferVo"/>
        <where>  
            <if test="tdCode != null  and tdCode != ''"> and td_code = #{tdCode}</if>
            <if test="docStatus != null  and docStatus != ''"> and doc_status = #{docStatus}</if>
            <if test="tDate != null "> and t_date = #{tDate}</if>
            <if test="outWId != null  and outWId != ''"> and out_w_id = #{outWId}</if>
            <if test="inWId != null  and inWId != ''"> and in_w_id = #{inWId}</if>
            <if test="outStatus != null "> and out_status = #{outStatus}</if>
            <if test="tType != null  and tType != ''"> and t_type = #{tType}</if>
            <if test="inStatus != null "> and in_status = #{inStatus}</if>
            <if test="tManager != null  and tManager != ''"> and t_manager = #{tManager}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectTransferByTId" parameterType="String" resultMap="TransferTransferDetailsResult">
        select a.t_id, a.td_code, a.doc_status, a.t_date, a.out_w_id, a.in_w_id, a.out_status, a.t_type, a.remark, a.in_status, a.t_manager, a.create_by, a.create_time, a.update_by, a.update_time, a.is_delete,
 b.td_id as sub_td_id, b.t_id as sub_t_id, b.td_code as sub_td_code, b.goods_id as sub_goods_id, b.spec_code as sub_spec_code, b.unit as sub_unit, b.t_quantity as sub_t_quantity, b.iu_price as sub_iu_price, b.t_amount as sub_t_amount, b.remark as sub_remark, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time, b.is_delete as sub_is_delete
        from wh_transfer a
        left join wh_transfer_details b on b.t_id = a.t_id
        where a.t_id = #{tId}
    </select>
        
    <insert id="insertTransfer" parameterType="Transfer" useGeneratedKeys="true" keyProperty="tId">
        insert into wh_transfer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tdCode != null and tdCode != ''">td_code,</if>
            <if test="docStatus != null and docStatus != ''">doc_status,</if>
            <if test="tDate != null">t_date,</if>
            <if test="outWId != null and outWId != ''">out_w_id,</if>
            <if test="inWId != null and inWId != ''">in_w_id,</if>
            <if test="outStatus != null">out_status,</if>
            <if test="tType != null and tType != ''">t_type,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="inStatus != null">in_status,</if>
            <if test="tManager != null and tManager != ''">t_manager,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tdCode != null and tdCode != ''">#{tdCode},</if>
            <if test="docStatus != null and docStatus != ''">#{docStatus},</if>
            <if test="tDate != null">#{tDate},</if>
            <if test="outWId != null and outWId != ''">#{outWId},</if>
            <if test="inWId != null and inWId != ''">#{inWId},</if>
            <if test="outStatus != null">#{outStatus},</if>
            <if test="tType != null and tType != ''">#{tType},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="inStatus != null">#{inStatus},</if>
            <if test="tManager != null and tManager != ''">#{tManager},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
         </trim>
    </insert>

    <update id="updateTransfer" parameterType="Transfer">
        update wh_transfer
        <trim prefix="SET" suffixOverrides=",">
            <if test="tdCode != null and tdCode != ''">td_code = #{tdCode},</if>
            <if test="docStatus != null and docStatus != ''">doc_status = #{docStatus},</if>
            <if test="tDate != null">t_date = #{tDate},</if>
            <if test="outWId != null and outWId != ''">out_w_id = #{outWId},</if>
            <if test="inWId != null and inWId != ''">in_w_id = #{inWId},</if>
            <if test="outStatus != null">out_status = #{outStatus},</if>
            <if test="tType != null and tType != ''">t_type = #{tType},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="inStatus != null">in_status = #{inStatus},</if>
            <if test="tManager != null and tManager != ''">t_manager = #{tManager},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where t_id = #{tId}
    </update>

    <delete id="deleteTransferByTId" parameterType="String">
        delete from wh_transfer where t_id = #{tId}
    </delete>

    <delete id="deleteTransferByTIds" parameterType="String">
        delete from wh_transfer where t_id in 
        <foreach item="tId" collection="array" open="(" separator="," close=")">
            #{tId}
        </foreach>
    </delete>
    
    <delete id="deleteTransferDetailsByTIds" parameterType="String">
        delete from wh_transfer_details where t_id in 
        <foreach item="tId" collection="array" open="(" separator="," close=")">
            #{tId}
        </foreach>
    </delete>

    <delete id="deleteTransferDetailsByTId" parameterType="String">
        delete from wh_transfer_details where t_id = #{tId}
    </delete>

    <insert id="batchTransferDetails">
        insert into wh_transfer_details( td_id, t_id, td_code, goods_id, spec_code, unit, t_quantity, iu_price, t_amount, remark, create_by, create_time, update_by, update_time, is_delete) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.tdId}, #{item.tId}, #{item.tdCode}, #{item.goodsId}, #{item.specCode}, #{item.unit}, #{item.tQuantity}, #{item.iuPrice}, #{item.tAmount}, #{item.remark}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, #{item.isDelete})
        </foreach>
    </insert>
</mapper>