<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyun.wh.warehouse.mapper.TransferMapper">

<!--    主表调拨单映射字段-->
    <resultMap type="Transfer" id="TransferResult" autoMapping="true">
        <result property="tid"    column="t_id"    />
        <result property="tdCode"    column="td_code"    />
        <result property="docStatus"    column="doc_status"    />
        <result property="date"    column="t_date"    />
        <result property="outWId"    column="out_w_id"    />
        <result property="inWId"    column="in_w_id"    />
        <result property="outStatus"    column="out_status"    />
        <result property="type"    column="t_type"    />
        <result property="remark"    column="remark"    />
        <result property="inStatus"    column="in_status"    />
        <result property="manager"    column="t_manager"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="is_delete"    />
        <!--        调拨明细表   集合-->
        <collection property="transferDetailsList" autoMapping="true"
                    select="selectTransferByTid" column="t_id">
        </collection>
    </resultMap>

    <!--    子表调拨明细单映射字段-->
    <resultMap type="TransferDetails" id="TransferDetailsResults">
        <result property="tdId"    column="td_id"    />
        <result property="tid"      column="t_id"    />
        <result property="quantity"    column="t_quantity"    />
        <result property="inSlId"    column="in_sl_id"    />
        <result property="stockId"  column="stock_id"/>
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="is_delete"    />
        <!--     子表关联的 goods stock       -->
        <association property="goods" javaType="com.lingyun.wh.goods.api.domain.Goods">
            <result column="g_name" property="gName"/>
            <result column="g_id" property="gId"/>
            <result column="wr_price" property="wrPrice"/>
            <result column="g_code" property="gCode"/>
            <result column="spec_code" property="specCode"/>
        </association>
        <association property="stock" javaType="com.lingyun.wh.goods.api.domain.Stock">
            <result column="unit" property="unit"/>
            <result column="item_quantity" property="itemQuantity"/>
        </association>
        <association property="location" javaType="com.lingyun.wh.warehouse.domain.StorageLocation">
            <id property="slId" column="sl_id"/>
            <result column="sl_name" property="slName"/>
        </association>

    </resultMap>


<!--主表相关查询-->
    <select id="selectTransferList" parameterType="Transfer" resultMap="TransferResult">
        select wt.t_id, wt.td_code, wt.doc_status, wt.t_date,
        wt.out_w_id, ckb.w_name outName,wt.in_w_id,ckb2.w_name inName,
        wt.out_status, wt.t_type, wt.remark, wt.in_status, wt.t_manager,
        manager.user_name managerName,
        wt.create_by,creater.user_name creatorName, dp.dept_name creatorDept,
        wt.create_time, wt.update_by, wt.update_time, wt.is_delete,
        wt.reviewer,revieer.user_name revieerName,wt.reviewer_time,wt.comments
        from wh_transfer wt
        inner join wh_warehouse ckb on wt.out_w_id=ckb.w_id
        inner join wh_warehouse ckb2 on wt.in_w_id=ckb2.w_id
        inner join sys_user manager on wt.t_manager=manager.user_id
        inner join sys_user creater on wt.create_by=creater.user_id
        left join sys_user revieer on wt.reviewer=revieer.user_id
        inner join sys_dept dp on dp.dept_id=creater.dept_id
        <where>
            <if test="tid != null  and tid != ''"> and wt.t_id = #{tid}</if>
            <if test="tdCode != null  and tdCode != ''"> and wt.td_code = #{tdCode}</if>
            <if test="docStatus != null  and docStatus != ''"> and wt.doc_status = #{docStatus}</if>
            <if test="dates != null and dates.size() > 0">
                and wt.t_date BETWEEN #{dates[0]} AND #{dates[1]}
            </if>
            <if test="inStatus != null "> and wt.in_status = #{inStatus}</if>
            <if test="outStatus != null "> and wt.out_status =#{outStatus} </if>
        and wt.is_delete=0
        </where>
        order by wt.create_time desc
    </select>


<!--    字表相关查询-->
    <select id="selectTransferByTid" parameterType="String" resultMap="TransferDetailsResults">
        SELECT wtd.td_id,wtd.t_id,wtd.stock_id,wtd.t_quantity,wtd.in_sl_id,wtd.remark,
        gdb.g_name,gdb.g_id, gdb.wr_price, gdb.g_code,gdb.spec_code,
        kcb.unit,kcb.item_quantity,sl.sl_id,sl.sl_name
        from wh_transfer_details wtd
        inner join wh_stock kcb on wtd.stock_id=kcb.s_id
        inner join wh_goods gdb on kcb.g_id=gdb.g_id
        inner join wh_storage_location sl on kcb.sl_id=sl.sl_id
        <where>
            wtd.t_id = #{t_id} and wtd.is_delete=0
        </where>
    </select>



<!--  根据tid查询调拨单  -->
    <select id="transferByTid" parameterType="Transfer" resultMap="TransferResult">
        select wt.t_id, wt.td_code, wt.doc_status, wt.t_date,
        wt.out_w_id, ckb.w_name outName,wt.in_w_id,ckb2.w_name inName,
        wt.out_status, wt.t_type, wt.remark, wt.in_status, wt.t_manager,
        manager.user_name managerName,
        wt.create_by,creater.user_name creatorName, dp.dept_name creatorDept,
        wt.create_time, wt.update_by, wt.update_time, wt.is_delete,
        wt.reviewer,revieer.user_name revieerName,wt.reviewer_time,wt.comments
        from wh_transfer wt
        inner join wh_warehouse ckb on wt.out_w_id=ckb.w_id
        inner join wh_warehouse ckb2 on wt.in_w_id=ckb2.w_id
        inner join sys_user manager on wt.t_manager=manager.user_id
        inner join sys_user creater on wt.create_by=creater.user_id
        left join sys_user revieer on wt.reviewer=revieer.user_id
        inner join sys_dept dp on dp.dept_id=creater.dept_id
        <where>
            <if test="tid != null  and tid != ''"> and wt.t_id = #{tid}</if>
            and wt.is_delete=0
        </where>
    </select>


    <!--    1新增调拨单-->
    <insert id="insertTransfer" parameterType="Transfer" useGeneratedKeys="true" keyProperty="tid">
        insert into wh_transfer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tdCode != null and tdCode != ''">td_code,</if>
            <if test="docStatus != null and docStatus != ''">doc_status,</if>
            <if test="date != null">t_date,</if>
            <if test="outWId != null and outWId != ''">out_w_id,</if>
            <if test="inWId != null and inWId != ''">in_w_id,</if>
            <if test="type != null and type != ''">t_type,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="manager != null and manager != ''">t_manager,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tdCode != null and tdCode != ''">#{tdCode},</if>
            <if test="docStatus != null and docStatus != ''">#{docStatus},</if>
            <if test="date != null">#{date},</if>
            <if test="outWId != null and outWId != ''">#{outWId},</if>
            <if test="inWId != null and inWId != ''">#{inWId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="manager != null and manager != ''">#{manager},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
        </trim>
    </insert>


    <!--    1批量新增调拨明细-->
    <insert id="batchTransferDetails">
        insert into wh_transfer_details( t_id, stock_id,t_quantity,in_sl_id,remark,create_by, create_time, update_by, update_time, is_delete) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.tid}, #{item.stockId}, #{item.quantity},#{item.inSlId} ,#{item.remark}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}, 0)
        </foreach>
    </insert>


    <!--    根据调拨仓库id查询所有库位-->

    <select id="location" resultType="com.lingyun.wh.warehouse.domain.StorageLocation">
        select sl_id slId, sl_name slName from wh_storage_location where w_id = #{w_id} and is_delete=0
    </select>

    <!--    查询调入仓库货品库存-->
    <select id="InItemQuantity" resultType="integer">
        SELECT COALESCE(SUM(item_quantity), 0) AS itemQuantity
        FROM wh_stock
        WHERE w_id=#{w_id} AND g_id=#{g_id};
    </select>

<!--    &lt;!&ndash;    查询调入仓库某库位下的货品货品计划数量&ndash;&gt;-->
<!--    <select id="numberPlansIn" resultType="integer">-->
<!--        select number_plans from wh_stock where w_id=#{w_id} and td_id=#{td_id} and  g_id=#{g_id}-->
<!--    </select>-->



    <!--     /*change出库仓库调拨goods的计划数量*/-->
    <update id="changePlanNums">
        UPDATE wh_stock set number_plans = number_plans-#{quantity}
        where w_id=#{w_id} and sl_id=#{sl_id} and g_id=#{g_id}
    </update>


    <select id="getPlansAndTquantity" resultType="map">
        select number_plans,t_quantity from wh_stock ws
                inner join wh_transfer_details wtd
                           on stock_id=s_id
                inner join wh_transfer  wt
                           on wt.t_id=wtd.t_id
        where wt.out_w_id=#{outWId} and ws.g_id=#{gId} and ws.sl_id=#{slId} and wtd.t_id=#{tId}
    </select>

<!--&lt;!&ndash;    查询调入仓库货品的库位(调入仓库id 货品id)&ndash;&gt;-->
<!--    <select id="getLocation" resultType="com.lingyun.wh.warehouse.domain.StorageLocation">-->
<!--        SELECT sl.sl_id slId,sl.sl_name tdName from wh_storage_location sl-->
<!--        inner join wh_transfer wt on sl.w_id=wt.in_w_id-->
<!--        inner join wh_transfer_details wtd  on wt.t_id=wtd.t_id-->
<!--        inner join wh_stock ws on wtd.stock_id=ws.s_id-->
<!--        where wt.in_w_id=#{w_id} and  ws.g_id=#{g_id}-->
<!--    </select>-->


    <!--    批量删除调拨单-->
    <delete id="deleteTransferByTids" parameterType="String">
        update  wh_transfer set is_delete=1 where t_id in
        <foreach item="tid" collection="array" open="(" separator="," close=")">
            #{tid}
        </foreach>
    </delete>

    <!--    通过调拨单主键批量删除调拨明细-->
    <delete id="deleteTransferDetailsByTIds" parameterType="String">
        update  wh_transfer_details set is_delete=1 where   t_id in
        <foreach item="tId" collection="array" open="(" separator="," close=")">
            #{tId}
        </foreach>
    </delete>


    <update id="deleteTransferDetailsByTdIds">
        update  wh_transfer_details set is_delete=1 where   td_id in
        <foreach item="tdIds" collection="array" open="(" separator="," close=")">
            #{tdIds}
        </foreach>
    </update>


<!-- 修改调拨单-->
    <update id="updateTransfer" parameterType="Transfer">
        update wh_transfer
        <trim prefix="SET" suffixOverrides=",">
            doc_status = "pending_review",
            <if test="date != null">t_date = #{date},</if>
            <if test="outWId != null and outWId != ''">out_w_id = #{outWId},</if>
            <if test="inWId != null and inWId != ''">in_w_id = #{inWId},</if>
            <if test="outStatus != null">out_status = #{outStatus},</if>
            <if test="type != null and type != ''">t_type = #{type},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="inStatus != null">in_status = #{inStatus},</if>
            <if test="manager != null and manager != ''">t_manager = #{manager},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where t_id = #{tid}
    </update>


<!--  批量修改调拨明细单  -->
    <update id="updateTransferDetails">
        <foreach collection="transferDetails" item="td" separator=";">
            update wh_transfer_details
            <trim prefix="SET" suffixOverrides=",">
                <if test="td.quantity != null and td.quantity != ''">t_quantity = #{td.quantity},</if>
                <if test="td.inSlId != null">in_sl_id = #{td.inSlId},</if>
                <if test="td.updateBy != null">update_by = #{td.updateBy},</if>
                <if test="td.updateTime != null">update_time = #{td.updateTime},</if>
            </trim>
            where t_id=#{tid}
        </foreach>
    </update>

<!--审核调拨单-->
    <update id="reviewInventory">
        update wh_transfer
       set doc_status=#{docStatus},comments=#{comments},
       update_time=#{updateTime},update_by=#{updateBy},
       reviewer=#{reviewer},reviewer_time=#{reviewerTime} where t_id=#{tid}
    </update>



</mapper>